@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  outline: 1px dotted yellow;
}

.header {
  background-color: #2d303a;
  height: 90px;
  border-bottom: 6px solid #323746;
}

.nav {
  max-width: 956px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.logo {
  float: left;
  font-size: 1.4rem;
  margin-top: 35px;
}

.links {
  float: right;
  margin-top: 40px;
  font-size: .75rem;
  color: #4B4E61;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.salmon {
  color: #F16C65;
}

.banner {
  background-color: #F16C65;
  text-align: center;
  padding: 50px 0;
}

.banner img {
  width: 100%;
  max-width: 960px;
}

.serve {
  color: #666d89;
  max-width: 960px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  border-bottom: 6px solid #ffffff;
}

.serve img {
  float: left;
  margin-top: 30px;
}

.serve h3 {
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin-left: 20px;
  margin-top: 28px;
}

.serve p {
  float: left;
  margin-left: auto;
  margin-right: auto;
}


.title {
  font-size: 1.90rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.sinfo {
  font-weight: 50;
  line-height: 2.5rem;
}

.one {
  float: left;
  width: 320px;
  height: 260px;
  margin-bottom: 50px;

}

.two {
  float: left;
  width: 320px;
  height: 260px;
}

.three {
  float: left;
  width: 320px;
  height: 260px;
}

.port {
  max-width: 960px;
  height: 860px;
  max-height: 946px;
  background-color: #2d2f3b;
  margin-left: auto;
  margin-right: auto;
  color: #676c8a;
  border-bottom: 6px solid #313745;
}

.port h1 {
  margin-left: 40px;
  padding-top: 66px;
}

.port p {
  margin-left: 40px;
  padding-top: 10px;
}

.tabs {
  margin-left: 40px;
}

.tabs a {
  color: #676c8a;
  text-decoration: none;
  padding: 0 10px;
  font-size: .80rem;
  margin-right: 10px;
  border: 1px solid #676c8a;
  border-radius: 5px;
}

.port img {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  width: 880px;
  max-width: 880px;
}

.about_us {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  max-width: 920px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  height: 730px;
  font-weight: 50;
  line-height: 2.5rem;
  color: #666d89;
}

.about_us h1 {
  padding-top: 65px;
}

.about_us img {
  max-width: 280px;
}

.grill1 {
  float: left;
  width: 280px;
  padding-right: 20px;
}

.grill1 p {
  line-height: 1.3rem;
  font-size: 0.70rem;
}

.boi {
  float: left;
  width: 280px;
  padding-right: 20px;
}

.boi p {
  line-height: 1.3rem;
  font-size: 0.70rem;
}

.grill2 {
  float: left;
  width: 280px;
  padding-right: 20px;
}

.grill2 p {
  line-height: 1.3rem;
  font-size: 0.70rem;
}

.info {
  background-color: #F16C65;
  width: 920px;
  height: 650px;
}

.info h1 p {
  float: left;
}

.info input {
  width: 620px;
  background-color: #d75650;
}

.footer {
  height: 74px;
  background-color: #2d2f3b;
  width: 920px;
}


@media screen and (max-width: 610px) {
  .logo {
    float: none;
    text-align: center;
    margin-top: 0;
  }

  .links {
    float: none;
    margin-top: 10px;
    text-align: center;
  }
}
